USE [master]
GO
/****** Object:  Database [6212-TASK2]    Script Date: 08/12/2021 19:28:53 ******/
CREATE DATABASE [6212-TASK2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'6212-TASK@', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\6212-TASK@.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'6212-TASK@_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\6212-TASK@_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [6212-TASK2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [6212-TASK2]
GO
/****** Object:  Table [dbo].[HomeLoanRepayment]    Script Date: 08/12/2021 19:28:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HomeLoanRepayment](
	[UserID] [int] NOT NULL,
	[PropertyPrice] [decimal](20, 2) NULL,
	[TotalDeposit] [decimal](20, 2) NULL,
	[InterestRate] [decimal](20, 2) NULL,
	[RepaymentMonths] [int] NULL,
	[Repayment] [decimal](20, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonthlyExpenses]    Script Date: 08/12/2021 19:28:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonthlyExpenses](
	[UserID] [int] NOT NULL,
	[Groceries] [decimal](20, 2) NULL,
	[Utilities] [decimal](20, 2) NULL,
	[Travel] [decimal](20, 2) NULL,
	[CellPhone] [decimal](20, 2) NULL,
	[Other] [decimal](20, 2) NULL,
	[Total] [decimal](20, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonthlyIncome]    Script Date: 08/12/2021 19:28:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonthlyIncome](
	[UserID] [int] NOT NULL,
	[GrossIncome] [decimal](10, 2) NULL,
	[TaxAmount] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonthlyRent]    Script Date: 08/12/2021 19:28:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonthlyRent](
	[UserID] [int] NOT NULL,
	[RentAmount] [decimal](20, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTS]    Script Date: 08/12/2021 19:28:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTS](
	[PRODUCT_ID] [int] IDENTITY(1,1) NOT NULL,
	[Product_Name] [varchar](255) NULL,
	[PRODUCT_DESCRIPTION] [varchar](255) NULL,
	[PRODUCT_PRICE] [int] NULL,
	[PRODUCT_IMAGE] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 08/12/2021 19:28:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](40) NULL,
	[Upassword] [binary](64) NULL,
	[Salt] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehicleLoanRepayment]    Script Date: 08/12/2021 19:28:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleLoanRepayment](
	[UserID] [int] NOT NULL,
	[VehicleMake] [nvarchar](40) NULL,
	[VehicleModel] [nvarchar](40) NULL,
	[VehiclePrice] [decimal](20, 2) NULL,
	[TotalDeposit] [decimal](20, 2) NULL,
	[InterestRate] [decimal](20, 2) NULL,
	[Insurance] [decimal](20, 2) NULL,
	[Vrepayment] [decimal](20, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[HomeLoanRepayment] ([UserID], [PropertyPrice], [TotalDeposit], [InterestRate], [RepaymentMonths], [Repayment]) VALUES (1009, CAST(2000000.00 AS Decimal(20, 2)), CAST(250000.00 AS Decimal(20, 2)), CAST(4.50 AS Decimal(20, 2)), 240, CAST(13854.17 AS Decimal(20, 2)))
INSERT [dbo].[HomeLoanRepayment] ([UserID], [PropertyPrice], [TotalDeposit], [InterestRate], [RepaymentMonths], [Repayment]) VALUES (1010, CAST(2000000.00 AS Decimal(20, 2)), CAST(200000.00 AS Decimal(20, 2)), CAST(4.60 AS Decimal(20, 2)), 240, CAST(14400.00 AS Decimal(20, 2)))
INSERT [dbo].[HomeLoanRepayment] ([UserID], [PropertyPrice], [TotalDeposit], [InterestRate], [RepaymentMonths], [Repayment]) VALUES (1011, CAST(234.00 AS Decimal(20, 2)), CAST(23.00 AS Decimal(20, 2)), CAST(234.00 AS Decimal(20, 2)), 242, CAST(42.02 AS Decimal(20, 2)))
GO
INSERT [dbo].[MonthlyExpenses] ([UserID], [Groceries], [Utilities], [Travel], [CellPhone], [Other], [Total]) VALUES (1009, CAST(1500.00 AS Decimal(20, 2)), CAST(1000.00 AS Decimal(20, 2)), CAST(500.00 AS Decimal(20, 2)), CAST(450.00 AS Decimal(20, 2)), CAST(250.00 AS Decimal(20, 2)), CAST(3700.00 AS Decimal(20, 2)))
INSERT [dbo].[MonthlyExpenses] ([UserID], [Groceries], [Utilities], [Travel], [CellPhone], [Other], [Total]) VALUES (1010, CAST(1600.00 AS Decimal(20, 2)), CAST(1100.00 AS Decimal(20, 2)), CAST(570.00 AS Decimal(20, 2)), CAST(350.00 AS Decimal(20, 2)), CAST(500.00 AS Decimal(20, 2)), CAST(4120.00 AS Decimal(20, 2)))
INSERT [dbo].[MonthlyExpenses] ([UserID], [Groceries], [Utilities], [Travel], [CellPhone], [Other], [Total]) VALUES (1011, CAST(234.00 AS Decimal(20, 2)), CAST(234.00 AS Decimal(20, 2)), CAST(234.00 AS Decimal(20, 2)), CAST(234.00 AS Decimal(20, 2)), CAST(234.00 AS Decimal(20, 2)), CAST(1170.00 AS Decimal(20, 2)))
GO
INSERT [dbo].[MonthlyIncome] ([UserID], [GrossIncome], [TaxAmount]) VALUES (1009, CAST(30000.00 AS Decimal(10, 2)), CAST(5000.00 AS Decimal(10, 2)))
INSERT [dbo].[MonthlyIncome] ([UserID], [GrossIncome], [TaxAmount]) VALUES (1010, CAST(35000.00 AS Decimal(10, 2)), CAST(8500.00 AS Decimal(10, 2)))
INSERT [dbo].[MonthlyIncome] ([UserID], [GrossIncome], [TaxAmount]) VALUES (1011, CAST(11234.00 AS Decimal(10, 2)), CAST(1234.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[MonthlyRent] ([UserID], [RentAmount]) VALUES (1009, CAST(8000.00 AS Decimal(20, 2)))
INSERT [dbo].[MonthlyRent] ([UserID], [RentAmount]) VALUES (1011, CAST(1234.00 AS Decimal(20, 2)))
INSERT [dbo].[MonthlyRent] ([UserID], [RentAmount]) VALUES (1012, NULL)
GO
SET IDENTITY_INSERT [dbo].[PRODUCTS] ON 

SET IDENTITY_INSERT [dbo].[PRODUCTS] OFF
GO
SET IDENTITY_INSERT [dbo].[USERS] ON 

INSERT [dbo].[USERS] ([UserID], [UserName], [Upassword], [Salt]) VALUES (1009, N'victor', 0x84D339677557964C05DEB9A535E01E3E615EBA72498E361F52A130E19FF382D8B36F5DC12035C1C057DADC1011F7320E54F8B67AB8628709FD8B70AE0F36BAF7, N'73927d02-995e-415e-982a-830e3430dace')
INSERT [dbo].[USERS] ([UserID], [UserName], [Upassword], [Salt]) VALUES (1010, N'Sarah', 0x9BAE9259488A7C1EA1FFBD753B0DC9A58D75181E1C8B5A8F55C965C499F142BC8C416448F1E6D1BEBCA43CF8F6921209BD42983D9468B628C759919459E0A01A, N'55048c4b-d84b-41a9-affb-36b62e063aea')
INSERT [dbo].[USERS] ([UserID], [UserName], [Upassword], [Salt]) VALUES (1011, N'Test#', 0x0319BA0AC390FB1F3248E767666D3483660DA7718C6BC87BFECF199DF93272643324ECF2C5ED5AAE5FED08E7C5E2F2499B515509AEB0DC9A32434DB0D68D5421, N'54cccc48-82d6-4ef0-b91b-3d4ab1576ded')
SET IDENTITY_INSERT [dbo].[USERS] OFF
GO
INSERT [dbo].[VehicleLoanRepayment] ([UserID], [VehicleMake], [VehicleModel], [VehiclePrice], [TotalDeposit], [InterestRate], [Insurance], [Vrepayment]) VALUES (1009, N'Model 3', N'80000', CAST(550000.00 AS Decimal(20, 2)), CAST(80000.00 AS Decimal(20, 2)), CAST(6.00 AS Decimal(20, 2)), CAST(1800.00 AS Decimal(20, 2)), CAST(11983.33 AS Decimal(20, 2)))
INSERT [dbo].[VehicleLoanRepayment] ([UserID], [VehicleMake], [VehicleModel], [VehiclePrice], [TotalDeposit], [InterestRate], [Insurance], [Vrepayment]) VALUES (1011, N'Model 3', N'1234', CAST(1234.00 AS Decimal(20, 2)), CAST(1234.00 AS Decimal(20, 2)), CAST(23.00 AS Decimal(20, 2)), CAST(123.00 AS Decimal(20, 2)), CAST(123.00 AS Decimal(20, 2)))
INSERT [dbo].[VehicleLoanRepayment] ([UserID], [VehicleMake], [VehicleModel], [VehiclePrice], [TotalDeposit], [InterestRate], [Insurance], [Vrepayment]) VALUES (1012, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
ALTER TABLE [dbo].[HomeLoanRepayment]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[USERS] ([UserID])
GO
ALTER TABLE [dbo].[MonthlyExpenses]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[USERS] ([UserID])
GO
ALTER TABLE [dbo].[MonthlyIncome]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[USERS] ([UserID])
GO
ALTER TABLE [dbo].[MonthlyRent]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[USERS] ([UserID])
GO
ALTER TABLE [dbo].[VehicleLoanRepayment]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[USERS] ([UserID])
GO
/****** Object:  StoredProcedure [dbo].[AddExpenseData]    Script Date: 08/12/2021 19:28:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddExpenseData]
    @userid INT,
	@groceries DECIMAL(20, 2),
	@utilities DECIMAL(20, 2),
	@travel DECIMAL(20, 2),
	@cellPhone DECIMAL(20, 2),
	@other DECIMAL(20, 2),
	@total DECIMAL(20, 2),
    @responseMessage NVARCHAR(250) OUTPUT
AS
BEGIN
    SET NOCOUNT ON

	IF NOT EXISTS (SELECT UserID FROM [dbo].MonthlyExpenses WHERE UserID=@userid)
    BEGIN TRY

        INSERT INTO dbo.MonthlyExpenses (UserID , Groceries, Utilities, Travel, CellPhone, Other, Total)
        VALUES(@userid, @groceries, @utilities, @travel, @cellPhone, @other, @total)

        SET @responseMessage='Success'
		
		
    END TRY

    BEGIN CATCH
        SET @responseMessage=ERROR_MESSAGE() 
    END CATCH
	ELSE
		IF EXISTS (SELECT UserID FROM [dbo].MonthlyExpenses WHERE UserID=@userid)
    BEGIN TRY

       UPDATE dbo.MonthlyExpenses 
	   SET Groceries=@groceries, Utilities=@utilities, Travel=@travel, CellPhone=@cellPhone, Other=@other, Total=@total
	   WHERE UserID=@userid;

        SET @responseMessage='SuccessUpdate'
		
		
    END TRY

    BEGIN CATCH
        SET @responseMessage=ERROR_MESSAGE() 
    END CATCH

	
		

END
GO
/****** Object:  StoredProcedure [dbo].[AddHomeLoanData]    Script Date: 08/12/2021 19:28:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddHomeLoanData]
   @userid INT,
	@price DECIMAL(20, 2),
	@deposit DECIMAL(20, 2),
	@interest DECIMAL(20, 2),
	@months int,
	@repayment DECIMAL(20, 2),
    @responseMessage NVARCHAR(250) OUTPUT
AS
BEGIN
    SET NOCOUNT ON

	IF NOT EXISTS (SELECT UserID FROM [dbo].HomeLoanRepayment WHERE UserID=@userid)
    BEGIN TRY

        INSERT INTO dbo.HomeLoanRepayment (UserID , PropertyPrice, TotalDeposit, InterestRate, RepaymentMonths, Repayment)
        VALUES(@userid, @price, @deposit, @interest, @months, @repayment)

        SET @responseMessage='Success'
		
		
    END TRY

    BEGIN CATCH
        SET @responseMessage=ERROR_MESSAGE() 
    END CATCH
	ELSE
		IF EXISTS (SELECT UserID FROM [dbo].HomeLoanRepayment WHERE UserID=@userid)
    BEGIN TRY

       UPDATE dbo.HomeLoanRepayment 
	   SET  PropertyPrice=@price, TotalDeposit=@deposit, InterestRate=@interest, RepaymentMonths=@months, Repayment=@repayment
	   WHERE UserID=@userid;

        SET @responseMessage='SuccessUpdate'
		
		
    END TRY

    BEGIN CATCH
        SET @responseMessage=ERROR_MESSAGE() 
    END CATCH

	
		

END
GO
/****** Object:  StoredProcedure [dbo].[AddIncomeData]    Script Date: 08/12/2021 19:28:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AddIncomeData]
    @userid INT,
	@income DECIMAL(10, 2),
	@tax DECIMAL(10, 2),
    @responseMessage NVARCHAR(250) OUTPUT
AS
BEGIN
    SET NOCOUNT ON

	IF NOT EXISTS (SELECT UserID FROM [dbo].[MonthlyIncome] WHERE UserID=@userid)
    BEGIN TRY

        INSERT INTO dbo.[MonthlyIncome] (UserID , GrossIncome, TaxAmount)
        VALUES(@userid, @income, @tax)

        SET @responseMessage='Success'
		
		
    END TRY

    BEGIN CATCH
        SET @responseMessage=ERROR_MESSAGE() 
    END CATCH
	ELSE
		IF EXISTS (SELECT UserID FROM [dbo].[MonthlyIncome] WHERE UserID=@userid)
    BEGIN TRY

       UPDATE dbo.MonthlyIncome
	   SET GrossIncome=@income, TaxAmount=@tax
	   WHERE UserID=@userid;

        SET @responseMessage='SuccessUpdate'
		
		
    END TRY

    BEGIN CATCH
        SET @responseMessage=ERROR_MESSAGE() 
    END CATCH

	
		

END
GO
/****** Object:  StoredProcedure [dbo].[AddRentData]    Script Date: 08/12/2021 19:28:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddRentData]
    @userid INT,
	@rentalamount DECIMAL(20, 2),
    @responseMessage NVARCHAR(250) OUTPUT
AS
BEGIN
    SET NOCOUNT ON

	IF NOT EXISTS (SELECT UserID FROM [dbo].MonthlyRent WHERE UserID=@userid)
    BEGIN TRY

        INSERT INTO dbo.MonthlyRent (UserID , RentAmount)
        VALUES(@userid, @rentalamount)

        SET @responseMessage='Success'
		
		
    END TRY

    BEGIN CATCH
        SET @responseMessage=ERROR_MESSAGE() 
    END CATCH
	IF EXISTS (SELECT UserID FROM [dbo].MonthlyRent WHERE UserID=@userid)
    BEGIN TRY

       UPDATE dbo.MonthlyRent 
	   SET RentAmount=@rentalamount
	   WHERE UserID=@userid;

        SET @responseMessage='SuccessUpdate'
		
		
    END TRY

    BEGIN CATCH
        SET @responseMessage=ERROR_MESSAGE() 
    END CATCH

	
		

END
GO
/****** Object:  StoredProcedure [dbo].[AddUser]    Script Date: 08/12/2021 19:28:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddUser]
    @username  NVARCHAR(50), 
    @upassword  NVARCHAR(50),
    @responseMessage NVARCHAR(250) OUTPUT
AS
BEGIN
    SET NOCOUNT ON

    DECLARE @salt UNIQUEIDENTIFIER=NEWID()
    BEGIN TRY

        INSERT INTO dbo.[USERS] (UserName, Upassword, Salt)
        VALUES(@username, HASHBYTES('SHA2_512', @upassword+CAST(@salt AS NVARCHAR(36))), @salt)

       SET @responseMessage='Success'

    END TRY
    BEGIN CATCH
        SET @responseMessage=ERROR_MESSAGE() 
    END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[AddUserID]    Script Date: 08/12/2021 19:28:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddUserID]
    @userid INT,
    @responseMessage NVARCHAR(250) OUTPUT
AS
BEGIN
    SET NOCOUNT ON

   
   IF NOT EXISTS (SELECT UserID FROM [dbo].HomeLoanRepayment WHERE UserID=@userid)
    BEGIN TRY

        INSERT INTO dbo.HomeLoanRepayment (UserID)
        VALUES(@userid)

        SET @responseMessage='Success'
		
		
    END TRY
    BEGIN CATCH
        SET @responseMessage=ERROR_MESSAGE() 
    END CATCH
	ELSE IF NOT EXISTS (SELECT UserID FROM [dbo].MonthlyRent WHERE UserID=@userid)
    BEGIN TRY

        INSERT INTO dbo.MonthlyRent (UserID)
        VALUES(@userid)

        SET @responseMessage='Success'
		
		
    END TRY
    BEGIN CATCH
        SET @responseMessage=ERROR_MESSAGE() 
    END CATCH
	ELSE IF NOT EXISTS (SELECT UserID FROM [dbo].VehicleLoanRepayment WHERE UserID=@userid)
    BEGIN TRY

        INSERT INTO dbo.VehicleLoanRepayment (UserID)
        VALUES(@userid)

        SET @responseMessage='Success'
		
		
    END TRY
    BEGIN CATCH
        SET @responseMessage=ERROR_MESSAGE() 
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[AddVehicleLoanData]    Script Date: 08/12/2021 19:28:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddVehicleLoanData]
    @userid INT,
	@make  NVARCHAR(50),
	@Model  NVARCHAR(50),
	@price DECIMAL(20, 2),
	@deposit DECIMAL(20, 2),
	@interest DECIMAL(20, 2),
	@insurance DECIMAL(20, 2),
	@vrepayment DECIMAL(20, 2),
    @responseMessage NVARCHAR(250) OUTPUT
AS
BEGIN
    SET NOCOUNT ON

	IF NOT EXISTS (SELECT UserID FROM [dbo].VehicleLoanRepayment WHERE UserID=@userid)
    BEGIN TRY

        INSERT INTO dbo.VehicleLoanRepayment (UserID , VehicleMake, VehicleModel, VehiclePrice, TotalDeposit, InterestRate, Insurance, Vrepayment)
        VALUES(@userid, @make, @Model, @price, @deposit, @interest, @insurance, @vrepayment)

        SET @responseMessage='Success'
		
		
    END TRY

    BEGIN CATCH
        SET @responseMessage=ERROR_MESSAGE() 
    END CATCH
	ELSE
	IF EXISTS (SELECT UserID FROM [dbo].VehicleLoanRepayment WHERE UserID=@userid)
    BEGIN TRY

       UPDATE dbo.VehicleLoanRepayment 
	   SET VehicleMake=@make, VehicleModel=@Model, VehiclePrice=@price, TotalDeposit=@deposit, InterestRate=@interest, Insurance=@insurance, Vrepayment=@vrepayment
	   WHERE UserID=@userid;

        SET @responseMessage='SuccessUpdate'
		
		
    END TRY

    BEGIN CATCH
        SET @responseMessage=ERROR_MESSAGE() 
    END CATCH
		
END
GO
/****** Object:  StoredProcedure [dbo].[GetHomeLoanRepayment]    Script Date: 08/12/2021 19:28:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetHomeLoanRepayment]
	 @userid INT,
    @responseMessage NVARCHAR(250) OUTPUT
AS
BEGIN
    SET NOCOUNT ON
	
    BEGIN TRY

SELECT ISNULL(PropertyPrice,0) AS PropertyPrice,ISNULL(TotalDeposit,0) AS TotalDeposit,ISNULL(InterestRate,0) AS InterestRate,ISNULL(RepaymentMonths,0) AS RepaymentMonths,ISNULL(Repayment,0) AS Repayment FROM HomeLoanRepayment WHERE UserID = @userid

    END TRY
    BEGIN CATCH
        SET @responseMessage=ERROR_MESSAGE() 
    END CATCH
	

END
GO
/****** Object:  StoredProcedure [dbo].[GetMonthlyExpenses]    Script Date: 08/12/2021 19:28:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetMonthlyExpenses]
	 @userid INT,
    @responseMessage NVARCHAR(250) OUTPUT
AS
BEGIN
    SET NOCOUNT ON
	
    BEGIN TRY

SELECT ISNULL(Groceries,0) AS Groceries,ISNULL(Utilities,0)AS Utilities,ISNULL(Travel,0)AS Travel,ISNULL(CellPhone,0)AS CellPhone,ISNULL(Other,0)AS Other,ISNULL(Total,0)AS Total FROM MonthlyExpenses WHERE UserID = @userid

    END TRY
    BEGIN CATCH
        SET @responseMessage=ERROR_MESSAGE() 
    END CATCH
	

END
GO
/****** Object:  StoredProcedure [dbo].[GetMonthlyIncome]    Script Date: 08/12/2021 19:28:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetMonthlyIncome]
	 @userid INT,
    @responseMessage NVARCHAR(250) OUTPUT
AS
BEGIN
    SET NOCOUNT ON
	
    BEGIN TRY

SELECT ISNULL(GrossIncome,0) AS GrossIncome,ISNULL(TaxAmount,0) AS TaxDeduction FROM MonthlyIncome WHERE UserID = @userid

    END TRY
    BEGIN CATCH
        SET @responseMessage=ERROR_MESSAGE() 
    END CATCH
	

END
GO
/****** Object:  StoredProcedure [dbo].[GetMonthlyRent]    Script Date: 08/12/2021 19:28:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetMonthlyRent]
	 @userid INT,
    @responseMessage NVARCHAR(250) OUTPUT
AS
BEGIN
    SET NOCOUNT ON
	
    BEGIN TRY

SELECT ISNULL(RentAmount,0) AS RentAmout FROM MonthlyRent WHERE UserID = @userid

    END TRY
    BEGIN CATCH
        SET @responseMessage=ERROR_MESSAGE() 
    END CATCH
	

END
GO
/****** Object:  StoredProcedure [dbo].[GetSummary]    Script Date: 08/12/2021 19:28:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSummary]
	 @userid INT,
    @responseMessage NVARCHAR(250) OUTPUT
AS
BEGIN
    SET NOCOUNT ON
	
    BEGIN TRY

SELECT ISNULL(GrossIncome,0) AS "Gross Income", ISNULL(TaxAmount,0) AS "Tax Deduction",ISNULL(Total,0)AS "Total Expenses",ISNULL(Repayment,0) AS "HomeLoan Monthly Repayment", ISNULL(RentAmount,0) AS "Monthly Rent",ISNULL(Vrepayment,0) AS "VehicleLoan Monthly Repayment", ISNULL(GrossIncome,0) - ( ISNULL(TaxAmount,0) + ISNULL(Total,0) + ISNULL(Repayment,0) + ISNULL(RentAmount,0) + ISNULL(Vrepayment,0)) AS "Money Left"
FROM HomeLoanRepayment A, MonthlyExpenses B, MonthlyIncome C, MonthlyRent D, VehicleLoanRepayment E
WHERE  A.UserID = @userid AND B.UserID = @userid AND C.UserID = @userid  AND D.UserID = @userid  AND E.UserID = @userid


      
    END TRY
    BEGIN CATCH
        SET @responseMessage=ERROR_MESSAGE() 
    END CATCH
	

END
GO
/****** Object:  StoredProcedure [dbo].[GetUserID]    Script Date: 08/12/2021 19:28:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUserID]
	@loginname VARCHAR(254),
	@upassword NVARCHAR(50),
    @responseMessage NVARCHAR(250)  OUTPUT
AS
BEGIN
    SET NOCOUNT ON

    BEGIN TRY

        SELECT UserID FROM [dbo].[USERS] WHERE UserName=@loginname AND Upassword=HASHBYTES('SHA2_512', @upassword+CAST(Salt AS NVARCHAR(36)))
       

        SET @responseMessage='Success'

    END TRY
    BEGIN CATCH
        SET @responseMessage=ERROR_MESSAGE() 
    END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[GetVehicleLoanRepayment]    Script Date: 08/12/2021 19:28:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetVehicleLoanRepayment]
	 @userid INT,
    @responseMessage NVARCHAR(250) OUTPUT
AS
BEGIN
    SET NOCOUNT ON
	
    BEGIN TRY

SELECT ISNULL(VehicleMake,0) AS VehicleMake,ISNULL(VehicleModel,0) AS VehicleModel,ISNULL(VehiclePrice,0) AS VehiclePrice,ISNULL(TotalDeposit,0) AS TotalDeposit,ISNULL(InterestRate,0) AS InterestRate,ISNULL(Insurance,0) AS Insurance,ISNULL(Vrepayment,0) AS Vrepayment FROM VehicleLoanRepayment WHERE UserID = @userid

    END TRY
    BEGIN CATCH
        SET @responseMessage=ERROR_MESSAGE() 
    END CATCH
	

END
GO
/****** Object:  StoredProcedure [dbo].[userLogin]    Script Date: 08/12/2021 19:28:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[userLogin]
    @loginname NVARCHAR(254),
    @upassword NVARCHAR(50),
    @responseMessage NVARCHAR(250)='' OUTPUT
AS
BEGIN

    SET NOCOUNT ON

    DECLARE @userID INT

    IF EXISTS (SELECT TOP 1 UserID FROM [dbo].[USERS] WHERE UserName=@loginname)
    BEGIN
        SET @userID=(SELECT UserID FROM [dbo].[USERS] WHERE UserName=@loginname AND Upassword=HASHBYTES('SHA2_512', @upassword+CAST(Salt AS NVARCHAR(36))))

       IF(@userID IS NULL)
           SET @responseMessage='Incorrect password'
       ELSE 
           SET @responseMessage='User successfully logged in'
    END
    ELSE
       SET @responseMessage='Invalid login'

END
GO
USE [master]
GO
